@import "tailwindcss";

@theme {
  --color-neon-pink: #ff00ff;
  --color-neon-blue: #00ffff;
  --color-neon-yellow: #ffff00;
  --color-neon-green: #00ff00;
  --color-neon-purple: #9d00ff;
  --color-neon-cyan: #00f0ff;
  --color-cyber-dark: #0d0d1a;
  --color-cyber-darker: #080811;
}
